* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.chat-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.chat-sort {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.message-list {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 10px 10px 10px;
  border: 5px solid grey;
  background-color: whitesmoke;
  height: 70vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.message-list-header {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  font-weight: 700;
}

.main-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: 5px solid grey;
  margin-bottom: 10px;
  padding: 15px 15px 0px 15px;
  border-radius: 20px;
  background-color: rgba(195, 195, 195, 0.37);
}

.message-text {
  font-size: 1.4em;
  text-align: justify;
}

.message-top {
  display: flex;
  justify-content: space-between;
}

.message-bottom {
  margin-top: 10px;
  display: flex;
}

.message-dislikes {
  margin-left: 15px;
  color: rgb(134, 0, 0);
}

.message-reply {
  font-style: italic;
  text-transform: lowercase;
  margin-left: 15px;
  color: rgb(144, 144, 0);
}

.message-likes {
  color: rgb(0, 128, 0);
}

.message-likes,
.message-dislikes,
.message-reply {
  font-weight: 500;
  font-size: 1.3em;
  cursor: pointer;
  transition: 0.2s all ease;
}

.message-likes:hover,
.message-dislikes:hover,
.message-reply:hover {
  opacity: 0.6;
}

.message-likes:active,
.message-dislikes:active,
.message-reply:active {
  opacity: 0.4;
}

.message-id {
  color: grey;
  font-style: italic;
  opacity: 0.7;
  margin-top: -10px;
  font-size: 1.3em;
}

.message-input {
  width: 100%;
  border-left: 5px solid grey;
  border-right: 5px solid grey;
  border-bottom: 5px solid grey;
  display: flex;
  align-items: center;
}

.message-input>input {
  padding: 10px;
  width: 100%;
  height: 40px;
  border: 2px solid grey;
  font-size: 1.3em;
}

.message-input>button {
  border: 2px solid grey;
  outline: none;
  background: none;
  width: 50%;
  height: 40px;
  font-size: 1.3em;
  cursor: pointer;
  transition: 0.2s all ease;
}

.message-input>button:hover {
  color: white;
  background-color: grey;
}

.message-modal-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.746);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.message-modal {
  padding: 20px;
  border: 5px solid #7a7979;
  height: 50%;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(187, 187, 187);
}

.modal-top {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal-name {
  font-size: 1.4em;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.664);
}

.modal-top-line {
  width: 100%;
  height: 5px;
  border-radius: 50%;
  background-color: #7a7979;
}

.modal-message-reply {
  padding: 20px;
  border: 5px solid #7a7979;
  border-radius: 5px;
  width: 90%;
  height: 40px;
  margin-bottom: 20px;
  font-size: 1.2em;
  transition: 0.4s all ease;
}

.modal-message-reply:focus {
  outline: none;
  border-color: #000000c7;
  background-color: whitesmoke;
}

.warn-inputs {
  color: rgba(151, 4, 4, 0.74);
}

.modal-buttons button {
  width: 40%;
  height: 50px;
  border: 5px solid #7a7979;
  background-color: #7a797978;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 4px;
  color: #333333;
  transition: 0.4s all ease;
}



.modal-buttons {
  display: flex;
  justify-content: space-between;
  outline: none;
}

.modal-buttons button:hover {
  background-color: #3a3a3a3a;
  border-color: #7a79795e;
  color: #333333c4;
}

.chat-sort button,
.chat-pagination button {
  margin: 0 2px;
  font-size: 1.2em;
  width: 170px;
  border: 3px solid rgba(128, 128, 128, 0.52);
  background-color: whitesmoke;
  color: grey;
  height: 45px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s all ease;
  margin-bottom: 10px;
}

.chat-sort button:hover,
.chat-pagination button:hover {
  border: 3px solid rgba(36, 36, 36, 0.849);
  color: rgba(36, 36, 36, 0.877);
  background-color: whitesmoke; 
}

.chat-sort button:active,
.chat-pagination button:active {
  border: 3px solid rgba(36, 36, 36, 0.322);
  color: rgba(36, 36, 36, 0.383);
  background-color: rgba(245, 245, 245, 0.287); 
}

.chat-sort-info {
  font-size: 1.3em;
}

.main-message.answer {
  width: 70%;
  border: none;
  background-color: whitesmoke;
}

.answer-message-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.message-list-load {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 5px solid grey;
  background-color: whitesmoke;
  height: 70vh;
}

.loader {
  font-size: 50px;
  color: grey;
  font-style: italic;
}

.chat-name {
  margin-bottom: 10px;
  font-size: 2em;
  padding: 10px;
  background-color: whitesmoke;
  border: 2px solid rgba(0, 0, 0, 0.089);
  border-radius: 10px;
  font-style: italic;
  color: #000000d3;
  cursor: pointer;
}

.chat-filter input,
.chat-pagination input {
  font-size: 1.1em;
  width: 400px;
  border: none;
  border-bottom: 2px solid grey;
  text-align: center;
  color: rgba(0, 0, 0, 0.623);
  padding-bottom: 2px;
  border-radius: 7px;
  margin-bottom: 10px;
  transition: 0.2s all ease;
}

.chat-filter input:focus,
.chat-pagination input:focus {
  border-bottom-color: rgb(70, 70, 70);
  color: rgb(70, 70, 70);
  outline: none;
}

.chat-pagination {
  font-size: 1.3em;
}

.chat-pagination input {
  margin: 0 10px;
  font-size: 1em;
  width: 200px;
  padding: 0;
}


